//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------
.main-navigation {
	display: none;

	@include media($tablet-landscape) {
		display: block;
	}

	// Menu area
	ul {
		display: none;

		@include media($phone) {
			display: block;
		}

		li {
			margin: 0 rem(10) 0 0;
			padding: 1rem;
		}
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul
} // .main-navigation

//-----------------------------------------
// Dropdown.
//-----------------------------------------
.dropdown {
	position: relative;

	// Sub-menu
	ul {
		@include position(absolute, rem(24) null null -999em);

		box-shadow: 0 rem(3) rem(3) rgba($color-black, 0.2);
		float: left;
		z-index: 99999;

		// Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		} // ul

		// Sub-menu items
		li {
			width: 100%;

			&:hover > ul,
			&.focus > ul {
				left: 100%;
			} // &:hover > ul, &.focus > ul
		} // li

		// Sub-menu links
		a {
			@include size(100% auto);

			min-width: rem(200);
		} // a

		// sass-lint:disable no-qualifying-elements
		&:hover > a,
		.focus > a {

		} // &:hover > a, .focus > a

		a:hover,
		a.focus {

		} // a:hover, a.focus
		// sass-lint:enable no-qualifying-elements
	} // ul

	// Display sub-menu on hover
	li:hover > ul,
	.focus > ul {
		left: auto;
	} // li:hover > ul, .focus > ul

	// Menu items
	li {
		float: right;
		position: relative;

		&:hover > a,
		&.focus > a {
			
		} // &:hover > a, &.focus > a
	} // li
} // &.dropdown