//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: $color-button-background;
	border: none;
	border-radius: 0;
	border-width: 0;
	color: $color-button-text;
	line-height: 1.5;
	margin: 0;
	padding: $padding-input;
	border-radius: 5px;
	transition: $transition-all;

	// IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &

	&:hover {
		background-color: $color-button-background-hover;
		transition: $transition-all;
	} // &:hover

	&:active,
	&:focus {
		background-color: $color-button-background-hover;
		transition: $transition-all;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]


.button-2 {
	color: $color-blue;
	background-color: $color-white;
	border: 1px solid $color-blue;

	&:hover {
		color: $color-white;
	}
}