//--------------------------------------------------------------
// Audience Options Block
//--------------------------------------------------------------
.audience-options {

    background-color: #f6f7f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a8c7d6' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    
    padding: 4rem 0rem;
    text-align: center;

    .grid-x {
        flex-direction: column;
    } // .grid-x

    &-title {
        text-transform: capitalize;
        font-weight: 800;
        font-size: 1.6rem;
        font-family: dosis;
        padding: 0 2rem;

		@include media($tablet-portrait) {
			padding: 0;
		}
    } // &:hover

    .audience-option {
        text-decoration: none;
        text-transform: capitalize;
        background: white;
        padding: 2rem 3rem;
        display: inline-block;
        margin: 1rem;
        transition: $transition-all;
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-black;

        &:hover {
            background: $color-deep-blue;
            transition: $transition-all;
            color: $color-white;
            box-shadow: 0rem 0rem 0rem 0.2rem $color-deep-blue;
 
        } // &:hover
    } // .audience-option

    .audience-option::after {
        content: ">";
    } // .audience-option::after
} // .audience-optons
