//--------------------------------------------------------------
// Call To Action Block
//--------------------------------------------------------------
.call-to-action {

	// Set up structure.
	.grid-x {
		padding: $gutter;
		text-align: center;

		@include media($tablet-portrait) {
			align-items: center;
			display: flex;
			justify-content: center;
			text-align: left;
		}
	} // .grid-x

	h3.cta-title {
		margin: 0 1rem 0;
	}
} // .call-to-action

.call-to-action.dark {
	background: $color-blue;

	.cta-title {
		color: $color-white;
	}

	button {
		background: none;
		border: #fff 1px solid;
	}
} 