//--------------------------------------------------------------
// Fifty Fifty Blocks
//--------------------------------------------------------------
.fifty-fifty {
	padding: 2rem 0rem;

	.cell {
		@include media($tablet-portrait) {
			@include span-columns(6);
		}
	}

	.image {
		display: flex; 
		justify-content: center;
	}

} // .fifty-fifty
