//--------------------------------------------------------------
// Hero Block
//--------------------------------------------------------------
.hero {
	margin-bottom: 0;
	overflow-y: hidden;
	position: relative;
	z-index: 1;
	background-color: rgba($color-white, 0.5);

	.showcase-image {
		width: 80%;
	}

	// Transparent overlay.
	&::after {
		@include position(absolute, 0 0 null null);
		@include size(100%);
		content: '';
		z-index: 2;
	} // &:after

	&-title {
		font-family: Dosis;
		font-size: 2rem;
		font-weight: 800;
		margin: 0 0 2rem 0;
	} // .hero-title

	// Content container.
	&-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		max-width: 70%;
		min-height: rem(500); // height of hero.
		position: relative;
		text-align: left;
		z-index: 3;

		@include media($tablet-portrait) {
			flex-direction: row;
		}
	} // .hero-content

	// Add padding to description.
	&-description {
		@include span-columns(12);
		//padding-bottom: $gutter * 2;
	} // .hero-description

	.gform_heading {
		display: none;
	}

	.gform_wrapper .top_label .gfield_label {
		display: none;
	}

	.gform_wrapper {
		width: 100%;
	}
} // .hero

//-----------------------------------------
// IE Fixes
//-----------------------------------------
.ie .hero {

	// IE seems to have some width issues with flexbox,
	// the text is rendered wider than its container
	// and doesn't wrap. This fixes that.
	.hero-title,
	.hero-description {
		width: 100%;
	} // .hero-title, .hero-description

	// IE11 doesn't do centering with just a min-height,
	// need to set a specific height instead.
	.hero-content {
		@include media($tablet-portrait) {
			height: rem(500); // height of hero.
		}
	} // .hero-content
} // .ie .hero
