//--------------------------------------------------------------
// Recent Posts Block
//--------------------------------------------------------------
.recent-posts {
	padding: 2rem 0rem;

	.cell {
		margin-bottom: $gutter * 2;

		@include media($tablet-portrait) {
			@include span-columns(6);
			@include omega(2n);
		}

		@include media($tablet-landscape) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(3n);
		}
	} // .cell

	.card {
		padding: 0rem 1rem;
	} // .card

	.grid-x {
		@include span-columns(10);
		@include shift(2);
	} // .grid-x 
} // .recent-posts
