//--------------------------------------------------------------
// Services Block
//--------------------------------------------------------------
.services {
    padding: 4rem 0rem;
    text-align: center;

    .grid-x {
        flex-direction: column;
        max-width: 80rem;
    } // .grid-x

    &-title {
        text-transform: capitalize;
        font-weight: 800;
        font-size: 1.6rem;
        font-family: dosis;
    } // &:hover

    &-wrap {

    } // &-wrap

    .service {
        text-decoration: none;
        text-transform: capitalize;
        background: white;
        padding: 1rem;
        display: inline-block;
        transition: $transition-all;
        text-align: left;

        p {
            margin:0;
        } // p

        @include media($tablet-portrait) {
            @include span-columns(3);
        } // @include media($tablet-portrait)

        &-icon {
            width: 3rem;
            margin-bottom: 1.1rem;
        } // &-icon

        &-name {
            font-weight: 700;
            font-size: .9rem;
            margin-bottom: .6rem !important;
        } // &-name

        &-blurb {
            color: $color-black;
        } // &-blurb
    } // .service

    &-link {
        padding: 2rem 0 0;
        display: block;
    }
} // .services
